{{> head}}

    {{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1>KDE</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae blanditiis, temporibus labore commodi vitae nisi. Molestiae laudantium qui magni praesentium fuga molestias, dolorem ipsam cupiditate in labore, saepe itaque quasi.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/kde-adapta.png" class="img-thumbnail" alt="kde">
        </div>
    </div>

{{> footer}}